@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.container h1{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Itim', cursive;
    margin-bottom: 1rem;
    
}

.bottom-line
{
    border-bottom: 5px solid aquamarine;
    border-radius: 5px;
    margin :0 auto;
    margin-bottom: 5rem;
    opacity: 0.5;
    width: 10rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img{
    width: 32%;
    position: relative;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    overflow: hidden;

}

.gallery .cap{
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: White;
    opacity: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    background: linear-gradient(0deg rgba(0, 0, 0, 0.5)rgba(0, 0, 0, 0.5));
    transition: 0.3s;

}

.gallery .pic
{
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: grayscale();
   
}

h1:hover .bottom-line{
    /* opacity: 1; */
    transform: scale(1.01);
    transition: 1s; 
}

.container h1:hover{
    transform: scale(1.03);
    border-bottom: aquamarine;
}

.gallery .img:hover{
    transform: scale(1.03);
    transition: 0.5s;
    /* box-shadow: 0 0 20px #333 ; */
    filter: drop-shadow( 0 0 10px #333 );
    /* background-image: linear-gradient(to top black black); */
    
}

.gallery .pic:hover{
    filter: none;
    transition: all;
    transition-duration: 1000ms;
    width: 100%;
    background-image: linear-gradient( black black);
   

}
.gallery :hover .cap{
    opacity: 1;
    transform: scale(1.03);
}
